* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --second-font: "Sen";
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ==================== Common ==================== */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    padding: 0px 16px;
    background: #171100;
    border-radius: 24.5px;
}

/* ==================== Header ==================== */
header.header {
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .sign-up-btn:hover {
    background: #ffb900;
}

.header .action {
    margin-left: 49px;
}

/* ==================== Hero ==================== */
.hero {
    padding: 56px 0 65px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.media-block .hero-img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.media-block .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    height: 244px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 14px;
}

.hero-summary .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
    width: 48px;
    height: 48px;
    background: var(--bg-color-icon, #fff9e8);
    border-radius: 50%;
}

.hero-summary .info {
    padding-left: 16px;
}

.hero-summary .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .content-block {
    width: 52%;
}

/* Hero right */
.hero .content-block {
    padding: 64px 130px;
}

.content-block .heading {
    width: 470px;
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .content-block .desc {
    width: 470px;
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.content-block .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.content-block .cta-group .btn {
    min-width: 180px;
    background: #ffb900;
    border-radius: 32px;
    font-weight: 600;
    line-height: 64px;
}

.content-block .watch-video {
    display: flex;
    margin-left: 28px;
    border: none;
    background-color: #fffcf4;
    cursor: pointer;
}

.watch-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 40px;
    color: #171100;
    white-space: nowrap;
}

.content-block .desc.stats {
    margin: 8px 0 0 -28px;
}

.content-block strong {
    padding: 0 8px 0 28px;
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/* ==================== Courses ==================== */
.courses {
    margin-top: 200px;
}

.courses .top-row {
    display: flex;
    justify-content: space-between;
}

.courses .top-row .title {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.courses .top-row .desc {
    margin-top: 16px;
    width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.courses .top-row .icons {
    display: flex;
}

.courses .icons img {
    width: 6px;
    height: 12px;
}

.courses .icons a:first-child {
    background-color: transparent;
    border: 1px solid #ffb900;
}

.courses .icons a {
    display: flex;
    margin-left: 18px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffb900;
}

.courses .bottom-row {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.courses .bottom-row .item {
    flex: 1;
    background: #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.courses .bottom-row .img-item {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.courses .bottom-row .body {
    padding: 16px 22px 22px;
}

.courses .body .top-body {
    display: flex;
    justify-content: space-between;
}

.courses .body .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.courses .body .rate {
    display: flex;
    align-items: center;
}

.courses .body .star-icon {
    width: 18px;
    height: 18px;
}

.courses .body .score {
    margin-left: 6px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.courses .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.courses .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.courses .price strong {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.courses .price .btn {
    font-weight: 600;
    font-size: 1.4rem;
}

.courses .price .btn:hover {
    background: #ffb900;
}

/* ==================== Quotes ==================== */
.quotes {
    margin-top: 200px;
    background: #2e2100;
}

.quotes .body {
    display: flex;
    padding: 96px 0;
    justify-content: space-between;
}

.quotes .avatar-block {
    width: 14%;
}

.quotes .slice {
    position: relative;
    margin: 28px 0 0 12px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffb900;
}

.quotes .slice::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    top: 0;
    left: -12px;
}

.quotes .slice::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    top: 0;
    right: -12px;
}

.quotes .avatar-block .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.quotes .name {
    margin-top: 18px;
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.quotes .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.quotes .quote {
    width: 66%;
    margin-left: 241px;
}

.quotes .content-quote {
    margin-left: 28px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* ==================== Features ==================== */
.features {
    margin-top: 200px;
}

.features .body {
    display: flex;
}

.features .img-block {
    width: 48.7%;
    display: flex;
    gap: 30px;
}

.features img {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.features img:first-child {
    margin-top: 34px;
}

.features .content-block {
    width: 51.3%;
    padding: 58px 0 58px 130px;
}

.features .content-block .title {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.features .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .btn {
    min-width: 137px;
    margin-top: 32px;
    background-color: #ffb900;
}

.features .btn:hover {
    background: #171100;
}

/* ==================== CTA ==================== */
.cta {
    margin-top: 200px;
}

.cta .body {
    display: flex;
}

.cta .info-block {
    width: 48.7%;
    margin-top: 71px;
}

.cta .title {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.cta .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.cta .btn {
    margin-top: 32px;
    min-width: 137px;
    background-color: #ffb900;
}

.cta .btn:hover {
    background: #171100;
}

.cta .img-block {
    width: 51.3%;
    padding-left: 130px;
}

.cta .img {
    width: 100%;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}

/* ==================== Blog ==================== */
.blog {
    margin-top: 200px;
    background-color: #fffcf4;
}

.blog .body {
    padding: 96px 0;
    justify-content: center;
}

.blog .header .title {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    text-align: center;
    letter-spacing: -0.02em;
    color: #130606;
}

.blog .header .desc {
    margin: 16px auto 0;
    width: 448px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #696262;
}

.blog .list {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.blog .item .image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .item .info {
    padding: 20px 20px 28px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    background: #ffffff;
}

.blog .info .time {
    position: relative;
    padding-left: 10px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog .info .time::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffb900;
    top: 10px;
    left: 0px;
}

.blog .info .seprate {
    margin-top: 12px;
    width: 160px;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog .info .topic {
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog .info .btn {
    margin-top: 12px;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.4rem;
}

.blog .info .btn:hover {
    background: #ffb900;
}

.blog .slices {
    margin-top: 38px;
}

.blog .slices .slice {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffb900;
}

.blog .slices .slice::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    top: 0;
    left: -12px;
}

.blog .slices .slice::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    top: 0;
    right: -12px;
}
